<div class="card">
  <div class="card-header">
    Sing_up
  </div>
  <div class="card-body">
  <h5 class="card-title">Fill in the registration fields</h5>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
            placeholder: "E-mail", class: "form-control mb-3 mt-3" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: minimum_password_length, class: "form-control mb-3 mt-3"%>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "form-control mb-3 mt-3" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary"%>
    </div>
  <% end %>
  </div>
    <div class="card-body">
      <p>You have account? <%= render "devise/shared/links" %></p> 
    </div>
</div>




