<% content_for :devise_form do %>
  <div class="card">
    <div class="card-header">
      Войти
    </div>
    <div class="card-body">
<h2>Изменение вашего пароля</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Новый пароль" %><br />
    <% if @minimum_password_length %>
      <em><strong><%= minimum_password_length%></strong></em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control mb-3"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Потвердите новый пароль", class: "mb-0"%>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-3" %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить", class: "btn btn-primary mt-3" %>
  </div>
      <% end %>
    </div>

    <p><%= render "devise/shared/links" %></p>
<% end %>
</div>
<%= render "devise/shared/form_wrap" %>
